<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>素颜</string>
		<key>filename</key>
		<string>suyan_0.mp3</string>
		<key>lrcname</key>
		<string>suyan_0.krc</string>
		<key>singer</key>
		<string>许嵩、何曼婷</string>
        <key>icon</key>
        <string>hemanting.jpg</string>
		<key>singerImg</key>
		<string>hemanting.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>过桥</string>
		<key>filename</key>
		<string>guoqiao_1.mps</string>
		<key>lrcname</key>
		<string>guoqiao_1.krc</string>
		<key>singer</key>
		<string>后弦</string>
        <key>icon</key>
        <string>houxian.jpg</string>
		<key>singerImg</key>
		<string>houxian.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>没有什么不同</string>
		<key>filename</key>
		<string>meiyoushenmebutong_2.mp3</string>
		<key>lrcname</key>
		<string>meiyoushenmebutong_2.krc</string>
		<key>singer</key>
		<string>曲婉婷</string>
        <key>icon</key>
        <string>quwanting.jpg</string>
		<key>singerImg</key>
		<string>quwanting.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>三妻四妾</string>
		<key>filename</key>
		<string>sanqisiqie_3.mps</string>
		<key>lrcname</key>
		<string>sanqisiqie_3.krc</string>
		<key>singer</key>
		<string>王媛媛</string>
        <key>icon</key>
        <string>wangyuanyuan.jpg</string>
		<key>singerImg</key>
		<string>wangyuanyuan.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>心碎</string>
		<key>filename</key>
		<string>xinsui_4.mp3</string>
		<key>lrcname</key>
		<string>xinsui_4.krc</string>
		<key>singer</key>
		<string>易欣</string>
        <key>icon</key>
        <string>yixin.jpg</string>
		<key>singerImg</key>
		<string>yixin.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>彩虹</string>
		<key>filename</key>
		<string>caihong_5.mp3</string>
		<key>lrcname</key>
		<string>caihong_5.krc</string>
		<key>singer</key>
		<string>周杰伦</string>
        <key>icon</key>
        <string>zhoujielun.jpg</string>
		<key>singerImg</key>
		<string>zhoujielun.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>无尽空虚</string>
		<key>filename</key>
		<string>wujinkongxu_6.mp3</string>
		<key>lrcname</key>
		<string>wujinkongxu_6.krc</string>
		<key>singer</key>
		<string>beyond</string>
        <key>icon</key>
        <string>beyond.jpg</string>
		<key>singerImg</key>
		<string>beyond.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>泡沫</string>
		<key>filename</key>
		<string>paomo_7.mp3</string>
		<key>lrcname</key>
		<string>paomo_7.krc</string>
		<key>singer</key>
		<string>曲婉婷</string>
        <key>icon</key>
        <string>quwanting.jpg</string>
		<key>singerImg</key>
		<string>quwanting.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>两个人的荒岛</string>
		<key>filename</key>
		<string>lgrhuangdao_8.mp3</string>
		<key>lrcname</key>
		<string>lgrhuangdao_8.krc</string>
		<key>singer</key>
		<string>s.h.e</string>
        <key>icon</key>
        <string>she.jpg</string>
		<key>singerImg</key>
		<string>she.jpg</string>
	</dict>
</array>
</plist>
